html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans';
    background: #FFFFFF;
    text-align: left;
}
.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1ps solid black;
    height: 80px;
    background-color: black;
    width: 100%;
    z-index: 2;
}
.header div,a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 15px;
}
.header img{
    margin-left: 50px;
}
.header div:hover{
    color: #be0f2a;
}
.sbt {
    margin-top: -250px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 100px;
    letter-spacing: 5px;
}
.service1 {
    margin: 0px 0px 0px 0px;
    padding: 200px 0px 50px 0px;
    width: 100%;
    height: auto;
    position: relative;
    background: transparent;
}
.s-content1 {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    background: transparent;
    position: relative;
    z-index: 10;
}
.jan {
    width: 980px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background: none;
}
.iwi {
    margin-bottom: 0px;
    position: relative;
}
.iwi1 {
    float: left;
    display: inline;
    margin: 0px 10px;
    background: none;
    position: relative;
}
.s-content1 h2 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-style: normal;
    width: 100%;
    font-size: 30px;
    color: #be0f2a;
    text-align: center;
    line-height: 50px;
    background: transparent;
    text-transform: none;
}
.s-content1 h2 span {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    width: 100%;
    font-size: 30px;
    color: #be0f2a;
    text-align: center;
    line-height: 50px;
    background: transparent;
    text-transform: none;
}
.s-content1 h3 {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-style: italic;
    width: 100%;
    font-size: 30px;
    color: #be0f2a;
    text-align: center;
    line-height: 50px;
    background: transparent;
    text-transform: none;
}
.s-content1 p {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    width: 100%;
    font-size: 18px;
    color: #333333;
    text-align: center;
    line-height: 30px;
    background: transparent;
    font-weight: normal;
    text-transform: none;
}
.service2 {
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 20px 0px;
    width: 100%;
    height: auto;
    position: relative;
    background: transparent;
}
.service2-img {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    width: 25%;
    height: auto;
    background: transparent;
    position: relative;
    z-index: 10;
    float: left;
}