@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    }
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1ps solid black;
    height: 80px;
    background-color: black;
    width: 100%;
    z-index: 3;
}
.header div,a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 15px;
}
.header video{
    margin-left: 50px;
}
.header div:hover{
    color: #be0f2a;
}
.headicon{
    padding: 5px 5px;
    background-color:#be0f2a;
}
.headicon:hover{
    background-color: beige;
}
.headicons{
    display: flex;
    flex-direction: row;
}
.headicons img{
    margin: 0 -5px;
}
.texxt{
    margin-top: -400px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 100px;
    letter-spacing: 5px;
}
.btn{
    position: absolute;
    width: 150px;
    border: 1px solid transparent;
    background-color: #be0f2a;
    color: rgb(243, 213, 224);
    font-size: 16px;
    padding: 12px 15px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    z-index: 1;
}
.btn:hover{
    width:200px;
    background-color:rgb(236, 201, 213);
    transition: 0.5s;
    color: #be0f2a;
    border: 1px solid rgb(207, 98, 116);
}
.videoo{
    width: 100%;
}
.french{
    padding: 500px;
    font-family: fantasy;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: rgb(165, 165, 165);
    text-align: center;
}
.french p{
    margin-top: -200px;
}
.sri{
    font-size: 24px;
    color: #be0f2a;
    margin-top: -640px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.tiny{
    text-align: center;
    line-height: 30px;
    color: rgb(117, 117, 117);
}
.map img{
    float: right;
}
.map{
    line-height: 35px;
    margin-left: 50px;
    color: rgb(92, 91, 91);
}
.beach video{
    float: left;
    margin: -100px 40px;
}
.beach{
    line-height: 35px;
    color: rgb(109, 109, 109);
}
.stun{
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    color: #be0f2a;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.massage{
    margin-left: 50px;
    line-height: 35px;
    color: rgb(109, 109, 109);
}
.massage video{
    float: right;
    margin: -30px 50px;
}
.ayurverda{
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
    color: #be0f2a;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.content-3{
    height: 550px;
    background:linear-gradient(to right,#be0f2a 50%, white 50%);
}
.block{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.block1, .block2{
    margin:65px 5px;
    width: 400px;
    height: 400px;
}
.block1{
    background-color:#33040b;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.block1 p{
    margin-top: 60px;
}
.block2:hover{
    border-radius: 50%;
    transform: rotate(360deg);
    transition: 1s;
}
.line{
    width: 50%;
    margin-left: 100px;
    margin-top: 10px;
} 
.our{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
} 
.view:hover{
    background-color:rgb(236, 201, 213);
    color: #be0f2a;
    border: 1px solid rgb(207, 98, 116);
    width: 190px;
    transition: 0.5s;
} 
.view{
    position: absolute;
    width: 150px;
    border: 1px solid transparent;
    color: rgb(243, 213, 224);
    background-color: #be0f2a;
    font-size: 16px;
    padding: 12px 15px;
    text-align: center;
    margin-top:20px;
    margin-left: -100px;
    z-index: 1;
} 
.block2{
    background-color: #be0f2a;
    margin-left: 430px;
    text-align: center;
    color: aliceblue;
    font-weight: 100;
    line-height: 30px;
    font-size: 15px;
} 
.smth{
    margin-top: 100px;
    width: 85%;
    margin-left: 30px;
} 
.slideshow-container { 
    max-width: 30%; 
    position: relative; 
    margin-top: -470px;
    margin-left: 480px;
}  
.mySlides { 
    display: none; 
}  
.prev, .next { 
    cursor: pointer; 
    position:absolute; 
    top: 50%; 
    background-color: transparent; 
    width: 20px; 
    margin-top: -22px; 
    padding: 16px; 
    color: white; 
    padding-left: -50px; 
    font-weight: bold; 
    font-size: 18px; 
    transition: 0.6s ease; 
    border-radius: 0 3px 3px 0; 
    user-select: none; 
}  
.next { 
    right: 0; 
    border-radius: 3px 0 0 3px; 
}  
.prev:hover, .next:hover { 
    background-color: rgba(0,0,0,0.8); 
}  
.text { 
    color: #f2f2f2; 
    font-size: 15px; 
    padding: 8px 12px; 
    position: absolute; 
    bottom: 8px; 
    width: 100%; 
    text-align: center; 
}  
.dot { 
    cursor: pointer; 
    height: 5px; 
    width: 20px; 
    background-color: beige; 
    border-radius: 20%; 
    border: 1px solid black; 
    display: inline-block; 
    transition: background-color 0.6s ease; 
}  
.active, .dot:hover { 
    background-color: black; 
    border: 1px solid beige; 
}  
.fade { 
    animation-name: fade; 
    animation-duration: 1.5s; 
}  
@keyframes fade { 
    from {opacity: 0.9} 
    to {opacity: 1} 
}  
.imgs{ 
    width: 100%; 
    text-align: center; 
} 
.footer{
    width: 100%;
    height: 400px;
    background-color: #be0f2a;
}
.words{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    font-size: 30px;
}
.words div{
    margin-top: 70px;
    color: rgb(255, 255, 255);
    margin-left: -130px;
}
.txt{
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.links{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: -180px;
    line-height: 30px;
}
.links a{
    font-size: 17px;
}
.links a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.tours{
    display: flex;
    flex-direction: column;
    margin-left: 890px;
    margin-top: -200px;
    line-height: 30px;
}
.tours a{
    font-size: 15px;
}
.tours2{
    display: flex;
    flex-direction: column;
    margin-left: 1100px;
    margin-top: -150px;
    line-height: 30px;
}
.tours2 a{
    font-size: 15px;
}
.tours a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.tours2 a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.facebook{
    margin-left: 50px;
}
.inst{
    margin-left: 0px;
    margin-top: 20px;
}
.icons{
    margin-top: 20px;
}
.animate-charcter {
   text-transform: uppercase;
   background-image: linear-gradient(
    -225deg,
    #166d0e 0%,
    #eb3b67 29%,
    #81da88 67%,
    #0a520a 100%
);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
    margin-left: 450px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}